<div class="container">
  <row>
    <form role="form" method="post" action="/relationships/<%=@relationship.id%>/entries">
      <textarea rows="3" name="text" class="form-control" placeholder="Post new entry"></textarea>
      <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token">
      <button type="submit" class="btn btn-default">Post</button>
    </form>
  </row>

  <% @relationship.entries.each do |entry| %>
  <div class="row">
    <div class="feed_entry_info col-xs-4 col-sm-2">
      <div class="entry_avatar pull-left">
        <img src="https://assets-cdn.github.com/images/modules/dashboard/bootcamp/octocat_fork.png?1a1dfcb9" alt="avatar image" class="img-circle img-responsive">
      </div>
      <div class="entry_author">
        <%= entry.author.name %> <%= entry.created_at.strftime('%A %d %B %Y') %>
      </div>
    </div>

    <div class="panel panel-default feed_entry col-xs-8 col-sm-10">
      <div class="panel-body feed_body">
        <%= entry.text %>
      </div>
    </div>
  </div>
  <% end %>
</div>
